/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Classe per mettere tutte quello che voglio in absolute */
.absolute {
    position: absolute;
}

/* Container prodotti */
.container-products {
    width: 90%; 
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

/* Fix margin secondo container */
.margin-second-container {
    margin-top: 120px;
    margin-bottom: 150px;
}

/* Le varie card per i prodotti */
.card-products {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    width: 640px;
    height: 920px;
    z-index: 2;
    cursor: pointer;
}

/* Fix problema delle immagini che non si vedevano tutte */
.bg-cover {
    background-size: cover;
}


/* INIZIO BG IMAGE dei vari prodotti */
#first-product {
    background-image: url(../img/1.webp);
}

/* Quando andiamo su over ci switcha la immagine di bg */
#first-product:hover {
    background-image: url(../img/1b.webp);
}

#second-product {
    background-image: url(../img/2.webp);
}

#second-product:hover {
    background-image: url(../img/2b.webp);
}

#third-product {
    background-image: url(../img/3.webp);
}

#third-product:hover {
    background-image: url(../img/3b.webp);
}

#fourth-product {
    background-image: url(../img/4.webp);
}

#fourth-product:hover {
    background-image: url(../img/4b.webp);
}

#fifth-product {
    background-image: url(../img/5.webp);
}

#fifth-product:hover {
    background-image: url(../img/5b.webp);
}

#sixth-product {
    background-image: url(../img/6.webp);
}

#sixth-product:hover {
    background-image: url(../img/6b.webp);
}
/* FINE BG IMAGE dei vari prodotti */



/* Padding dei vari tag */
.tag-padding {
    padding: 3px 10px;
}

/* Tag cuore */
.heart-tag {
    top: 20px;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 1.8em;
    line-height: 30px;
    background-color: white;
}

/* Tag sconto */
.discount-tag {
    bottom: 20px;
    left: 0px;
    margin-right: 10px;
    color: white;
    background-color: rgb(255, 45, 45);
}

/* Tag sostenibilita' */
.sustainability-tag {
    bottom: 20px;
    left: 60px;
    color: white;
    background-color: rgb(15, 152, 93);
}

/* Quando abbiamo nell'img solo la targhetta della sostenibilita' */
.only-soste {
    left: 0px;
}

/* Per la descrizione dei prodotti */
.item-description {
    text-align: left;
    top: 925px;
    font-size: 16px;
    line-height: 22px;
}

/* Usaro per togliere la ridondanza, usaro per i nomi brand */
.opacity {
    opacity: 0.7;
}

/* Span per il nome articolo */
.span-name {
    font-weight: bold;
}

/* Canbia il colore del prezzo attuale */
.span-price-discounted {
    color: rgb(255, 45, 45);
}

/* Se scontato mette la linea sopra il preszzo */
.span-price-retail {
    text-decoration: line-through;
}