/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.absolute {
    position: absolute;
}

.container-products {
    width: 90%; 
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.card-products {
    display: inline-block;
    margin-left: 20px;
    position: relative;
    width: 640px;
    height: 920px;
    z-index: 2;
}


.bg-cover {
    background-size: cover;
}

#first-product {
    background-image: url(../img/1.webp);
}

#first-product:hover {
    background-image: url(../img/1b.webp);
}

#second-product {
    background-image: url(../img/2.webp);
}

#second-product:hover {
    background-image: url(../img/2b.webp);
}

#third-product {
    background-image: url(../img/3.webp);
}

#third-product:hover {
    background-image: url(../img/3b.webp);
}



.tag-padding {
    padding: 3px 10px;
}

.heart-tag {
    top: 20px;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 1.8em;
    line-height: 30px;
    background-color: white;
}

.discount-tag {
    bottom: 20px;
    left: 0px;
    margin-right: 10px;
    color: white;
    background-color: rgb(255, 45, 45);
}

.sustainability-tag {
    bottom: 20px;
    left: 60px;
    color: white;
    background-color: rgb(15, 152, 93);
}

.item-description {
    text-align: left;
    top: 925px;
    font-size: 16px;
}

.opacity {
    opacity: 0.7;
}

.span-name {
    font-weight: bold;
}

.span-price-discounted {
    color: rgb(255, 45, 45);
}

.span-price-retail {
    text-decoration: line-through;
}